--
-- PostgreSQL database dump
--

\restrict 5DO6TFW5eHKKS5fup64uUfPwmbH2dgkl2GpKsc9Myx8uMn7WttYVLLbMjfUQNxf

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg12+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_logs (
    id character varying(36) NOT NULL,
    request_id character varying(100) NOT NULL,
    user_id character varying(36),
    role character varying(100) NOT NULL,
    task character varying(100) NOT NULL,
    model character varying(100) NOT NULL,
    latency_ms integer NOT NULL,
    tokens_in integer NOT NULL,
    tokens_out integer NOT NULL,
    success boolean NOT NULL,
    error text,
    flagged boolean NOT NULL,
    rating character varying(20),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.ai_logs OWNER TO postgres;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.applications (
    id character varying(36) NOT NULL,
    job_id character varying(36) NOT NULL,
    seeker_id character varying(36) NOT NULL,
    status character varying(50) NOT NULL,
    cover_letter text NOT NULL,
    match_score double precision NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    note text DEFAULT ''::text NOT NULL
);


ALTER TABLE public.applications OWNER TO postgres;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    seeker_id character varying(36),
    title character varying(255) NOT NULL,
    messages jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.conversations OWNER TO postgres;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    provider character varying(255) NOT NULL,
    category character varying(100) NOT NULL,
    skills_taught jsonb NOT NULL,
    duration character varying(100) NOT NULL,
    cost_idr integer NOT NULL,
    is_prakerja boolean NOT NULL,
    level character varying(50) NOT NULL,
    url character varying(255),
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: employers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employers (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    company_name character varying(255) NOT NULL,
    npwp character varying(50),
    industry character varying(100) NOT NULL,
    size character varying(20) NOT NULL,
    region_code character varying(50) NOT NULL,
    website character varying(255),
    description text NOT NULL,
    verified character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.employers OWNER TO postgres;

--
-- Name: gamification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gamification (
    id character varying(36) NOT NULL,
    seeker_id character varying(36) NOT NULL,
    xp integer NOT NULL,
    level integer NOT NULL,
    streak_days integer NOT NULL,
    badges jsonb NOT NULL,
    quests_completed jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.gamification OWNER TO postgres;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs (
    id character varying(36) NOT NULL,
    employer_id character varying(36) NOT NULL,
    title character varying(255) NOT NULL,
    kbji_code character varying(50) NOT NULL,
    description text NOT NULL,
    responsibilities jsonb NOT NULL,
    required_skills jsonb NOT NULL,
    nice_to_have_skills jsonb NOT NULL,
    education_min character varying(10) NOT NULL,
    experience_years_min integer NOT NULL,
    region_code character varying(50) NOT NULL,
    remote_allowed boolean NOT NULL,
    salary_min integer NOT NULL,
    salary_max integer NOT NULL,
    is_active boolean NOT NULL,
    embedding public.vector(768),
    embedding_model character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.jobs OWNER TO postgres;

--
-- Name: matches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.matches (
    id character varying(36) NOT NULL,
    subject_kind character varying(20) NOT NULL,
    subject_id character varying(36) NOT NULL,
    top_k integer NOT NULL,
    results jsonb NOT NULL,
    embedding_model character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.matches OWNER TO postgres;

--
-- Name: seekers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seekers (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    full_name character varying(255) NOT NULL,
    headline character varying(255) NOT NULL,
    nik character varying(16),
    nik_verified character varying(20) NOT NULL,
    date_of_birth character varying(20),
    region_code character varying(50) NOT NULL,
    preferred_regions jsonb NOT NULL,
    skills jsonb NOT NULL,
    experience jsonb NOT NULL,
    education jsonb NOT NULL,
    resume_text text NOT NULL,
    salary_expectation_min integer NOT NULL,
    salary_expectation_max integer NOT NULL,
    open_to_remote boolean NOT NULL,
    embedding public.vector(768),
    embedding_model character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.seekers OWNER TO postgres;

--
-- Name: skill_gaps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.skill_gaps (
    id character varying(36) NOT NULL,
    seeker_id character varying(36) NOT NULL,
    target_job_id character varying(36),
    missing_skills jsonb NOT NULL,
    matching_skills jsonb NOT NULL,
    gap_severity character varying(20) NOT NULL,
    match_percentage double precision NOT NULL,
    recommended_courses jsonb NOT NULL,
    estimated_readiness_months integer NOT NULL,
    summary text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.skill_gaps OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id character varying(36) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    name character varying(255) DEFAULT ''::character varying
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: ai_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_logs (id, request_id, user_id, role, task, model, latency_ms, tokens_in, tokens_out, success, error, flagged, rating, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
5a748883f1d9
\.


--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.applications (id, job_id, seeker_id, status, cover_letter, match_score, created_at, updated_at, note) FROM stdin;
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conversations (id, user_id, seeker_id, title, messages, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gamification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gamification (id, seeker_id, xp, level, streak_days, badges, quests_completed, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: matches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.matches (id, subject_kind, subject_id, top_k, results, embedding_model, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: seekers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: skill_gaps; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.skill_gaps (id, seeker_id, target_job_id, missing_skills, matching_skills, gap_severity, match_percentage, recommended_courses, estimated_readiness_months, summary, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ai_logs ai_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_logs
    ADD CONSTRAINT ai_logs_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: employers employers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employers
    ADD CONSTRAINT employers_pkey PRIMARY KEY (id);


--
-- Name: gamification gamification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gamification
    ADD CONSTRAINT gamification_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: matches matches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_pkey PRIMARY KEY (id);


--
-- Name: seekers seekers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seekers
    ADD CONSTRAINT seekers_pkey PRIMARY KEY (id);


--
-- Name: skill_gaps skill_gaps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skill_gaps
    ADD CONSTRAINT skill_gaps_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_applications_job_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_applications_job_id ON public.applications USING btree (job_id);


--
-- Name: ix_applications_seeker_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_applications_seeker_id ON public.applications USING btree (seeker_id);


--
-- Name: ix_conversations_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_conversations_user_id ON public.conversations USING btree (user_id);


--
-- Name: ix_employers_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_employers_user_id ON public.employers USING btree (user_id);


--
-- Name: ix_gamification_seeker_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_gamification_seeker_id ON public.gamification USING btree (seeker_id);


--
-- Name: ix_jobs_employer_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_jobs_employer_id ON public.jobs USING btree (employer_id);


--
-- Name: ix_matches_subject_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_matches_subject_id ON public.matches USING btree (subject_id);


--
-- Name: ix_seekers_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_seekers_user_id ON public.seekers USING btree (user_id);


--
-- Name: ix_skill_gaps_seeker_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_skill_gaps_seeker_id ON public.skill_gaps USING btree (seeker_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: employers employers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employers
    ADD CONSTRAINT employers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: jobs jobs_employer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_employer_id_fkey FOREIGN KEY (employer_id) REFERENCES public.employers(id);


--
-- Name: seekers seekers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seekers
    ADD CONSTRAINT seekers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 5DO6TFW5eHKKS5fup64uUfPwmbH2dgkl2GpKsc9Myx8uMn7WttYVLLbMjfUQNxf

